<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Detalle del Paciente</h1>

    <p>Nombre: {{paciente.nombre}}</p>
    <p>Apellido: {{paciente.apellido}}</p>
    <p>Email: {{paciente.email}}</p>
    <p>Fecha de nacimiento: {{paciente.fecha_nacimiento}}</p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>
</body>
</html>